<div id="footer_wrap">
  <div id="footer">
    <ul>
      <li>
        <a class="team_phl" href="#">ACTIVATE : YOURSELF!</a>
      </li>
      <li>
        <a class="team_phl" href="#">BYEONG YEON KIM</a>
      </li>
      <li>
        <a class="team_phl" href="#">COMMUNITY WEBPAGE</a>
      </li>
      <li>
        <a class="team_phl" href="#">FOR EVERY SPORTSMANS</a>
      </li>
      <li>
        <a class="personal" href="#">치킨먹고 싶당</a>
      </li>
    </ul>
    <div id="footer_info">
      <h1 id="footer_logo">
        <img src="/img/footer_logo.png" alt="footer_logo" />
      </h1>
      <div id="team_info">
        <p>김병연 : https://github.com/Yeon73</p>
        <p class="copyright">Copyright © 2024. Activation Project Group. Ideas by Node.phl Project Group. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
